.def-list
  display inline-block

  margin 1em auto 1em 0

  &__title
    background rgba(245, 245, 245, 0.1)
    color #f5f5f5
    line-height 3em
    padding-left 1.3em
    font-size 1.2em
    border-radius 1px
    margin-bottom 1px
    text-transform uppercase
    font-weight 700

  &__values
    position relative
    background rgba(245, 245, 245, 0.05)
    margin-top 1px
    padding-left 1.3em
    border-radius 3px

  &:nth-of-type(1n + 1)
    margin-right 1em

  &:last-of-type
    margin-right .5em

  &__term
    text-transform uppercase

  &__desc
    &::before
      content ''
      display block
      border-top 1px solid rgba(245, 245, 245, .2)
      margin .2em 0
    margin-left 0
