.streams
  &__item
    display inline-block
    vertical-align top
    &:hover
      background-color hsla(0, 0%, 100%, .04)

  &__info
    display block
    padding .5em 10px 2em
    text-decoration none

  &__title
    max-width 540px
    margin .2em auto
    text-overflow ellipsis
