.player
  &__graph
    position relative
    line-height 0
    padding 1em 0
    margin 1em auto

  &__stats
    margin 1.33em auto
    &__stat
      margin .7em auto

      &__actions
        font-size .7em

        .grid__cell {
          margin-top 0
        }

      &__descriptions
        font-weight 800

    &-chart
      height 400px
      width 50%
      display inline-block

      @media all and (max-width: 870px)
        width 100%
        display block
