.match-info
  padding-top 2em

  &__title
    margin .2em auto
    padding .3em 0

.match-latest
  &__number
    border-bottom 1px solid rgba(0, 0, 0, .3)
    cursor pointer

.match-results
  &__nickname
    cursor pointer
    padding .4em .1em
    display block
    &:hover
      background-color rgba(100, 100, 100, .3)

  &__scores
    th
      text-align left
      padding .2em .3em

    th,
    td
      &:nth-of-type(1n + 3)
        text-align center
    td
      padding .2em 0

  &__team
    padding-left 1em

  &__actions
    font-size .7em

  &__action
    display relative
    &::after
      content ', '
      margin-left -.2em
      margin-right .1em
    &:last-of-type
      &::after
        display none
    &-title
      &::after
        content ': '
