.wf-exo2-n4-active
  font-family 'Exo 2', sans-serif

.SurvariumPlayers
  text-rendering optimizeLegibility
  background-color #1e222b
  font-size 12px

  &__elem
    cursor pointer
    padding .5em 1em
    position relative
    &::before
      position absolute
      backface-visibility hidden
      content ''
      top 0
      left 0
      bottom 0
      right 0
      background-color rgb(245, 245, 245)
      opacity 0
      transition opacity .3s ease-in-out
      transform translate3D(0, 0, 0)
    &:hover
      &::before
        opacity 0.02

  &,
  &__clan
  &__match
    color rgba(245, 245, 245, 0.65)

  &__nickname
    display block
    color #ffce1f
    text-decoration none

  &__match
    display block
    text-decoration none
    margin 1em auto

    &-name
      font-size 1.4em
      padding .5em 0

    .def-list__values
      padding-top 1em
      padding-bottom 1em

  &__clan
    float left
    text-decoration none

    &::before
      content '['

    &::after
      content ']'

    margin-right .2em

  &__suggest_empty
    display none
